.selector {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  display: none;
  z-index: 50;
  pointer-events: none;

  &.show {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: drop-shadow(0 0 10px white);
  }
}