.game-navbar {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(10deg, rgb(0,0,0) 10%, rgb(90,90,90) 100%);
  display: flex;
  gap: 5rem;
  color: white;
  align-items: center;
  padding: 1rem;

  h2 {
    font-size: 2rem;
    color: white;
    font-family: 'Caveat', cursive;
  }

  .game-infos {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.3rem;
    align-items: center;

    .hp {
      color: red;
    }

    .gold {
      color: gold;
    }

    .potions {
      display: flex;
      gap: .5rem;

      .fas {
        position: relative;
        &.posion {
          color: rgb(10, 196, 10);
        }
        cursor: pointer;
      }

      .fa-prescription-bottle {
        color: rgba(190,190,190,.8);
        cursor: auto;
      }

      .potion-details {
        position: absolute;
        left: calc(-10rem + 50%);
        top: 3rem;
        width: 20rem;
        background-color: rgba(70,70,70,1);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0 1rem 1rem;
        cursor: auto;
        z-index: 20;
        pointer-events: none;
        border-radius: .25rem;
        background-image: linear-gradient(45deg, rgb(0,0,0) 60%, rgb(150,150,150) 100%);

        &.hide {
          display: none;
        }
        
        .posion {
          color: rgb(10,196,10);
          font-size: 1.3rem;
          font-family: 'Yusei Magic', sans-serif;
        }

        .description {
          font-size: 1rem;
          font-family: 'Yusei Magic', sans-serif;
          letter-spacing: .1rem;
          color: rgba(255,255,255,.7);
        }
      }
    }
  }
}